.tagline {
    display: inline-block;
    text-align: left;
    position: relative;
    h2 {
        margin: 0;
    }
}

#ampersand {
    position: absolute;
    top: -80px;
    right: -155px;
    z-index: -1;
    
}

.amp-svg {
    font-family: $base-font-family;
    font-size: 72px;
    text-anchor: middle;
}

#amp-1 {
    fill: white
}

#amp-2 {
    fill: $accent-color
}

#splash {
    .nav-container {
        position: absolute;
        bottom: 5%;
        width: 100%;
    }
    nav {
        ul {
            text-align: center;
            li {
                list-style: none;
                display: inline-block;
                &::after {
                    content: "/";
                    display: inline-block;
                    font-size: 2.125rem;
                    line-height: 3.75rem;
                }
                &:last-of-type {
                    &::after {
                        content: "";
                    }
                }
                a {
                    text-transform: uppercase;
                    font-size: 2.125rem;
                    line-height: 3.75rem;
                    padding: em(5) em(10);
                }
            }
        }
    }
}

#about {
    h1 span::before {
        background-color: white;
    }
    .section-title {
        background-color: $theme-color;
    }
    .section-body {
        //        position: absolute;
        //        right: 0;
        //        top: 0;
        background-color: white;
    }
}