.tagline {
    display: inline-block;
    text-align: left;
    position: relative;
    h2 {
        margin: 0;
    }
}

#ampersand {
    position: absolute;
    top: -80px;
    right: -155px;
    z-index: -1;
}

.amp-svg {
    font-family: $base-font-family;
    font-size: 72px;
    text-anchor: middle;
}

#amp-1 {
    fill: white
}

#amp-2 {
    fill: $accent-color
}

#splash {
    .nav-container {
        position: absolute;
        bottom: 5%;
        width: 100%;
    }
    nav {
        ul {
            text-align: center;
            li {
                list-style: none;
                display: inline-block;
                &::after {
                    content: "/";
                    display: inline-block;
                    font-size: 2.125rem;
                    line-height: 3.75rem;
                }
                &:last-of-type {
                    &::after {
                        content: "";
                    }
                }
                a {
                    text-transform: uppercase;
                    font-size: 2.125rem;
                    line-height: 3.75rem;
                    padding: em(5) em(10);
                }
            }
        }
    }
}

#about {
    h1 span::before {
        background-color: white;
    }
    .section-title {
        background-color: $theme-color;
    }
    .section-body {
        //        position: absolute;
        //        right: 0;
        //        top: 0;
        background-color: white;
    }
}

.work-project {
    height: 100%;
    display: block;
    a {
        height: 100%;
        overflow-x: hidden;
        position: relative;
        display: block;
    }
}

.work-cover-image {
    overflow: hidden;
    img {
        height: 100vh;
        max-width: none;
        display: block;
        @include transform(scale(1));
        @include transition(all 7s cubic-bezier(0.745, 0.080, 0.690, 0.875));
        &:hover {
            @include transform(scale(1.2));
        }
    }
}

.work-project-title {
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    width: 100%;
    pointer-events: none;
    .title-inner {
        margin-top: 2.5em;
    }
    h2 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    h4 {
        font-weight: 400;
        margin-top: 0;
    }
}