.project-description {
    //    position: absolute;
    //    top: 75vh;
    @include span-columns(6 of 8);
    @include shift(1 of 8);
    // bring up into view before scrolling
    position: relative;
    top: -20vh;
}

.project-image {
    margin-bottom: 10vh;
    p {
        @include span-columns(6 of 8);
        @include shift(1 of 8);
        text-align: right;
        font-style: italic;
        font-size: 1em;
        margin-bottom: 0;
    }
}

.project-image-container {
    
    &::after {
        content: "";
        display: block;
//        height: 1em;
        height: 3vh;
        width: 97%;
        float: right;
        background-color: $theme-color;
    }
    img {
        display: block;
        width: 100%;
    }
}