$black: #231f20;
$white: white;
$blue: #68c5c5;
$red: #ed5e47;
$yellow: #f6d28a;

$text-color: $black;
$background: $black;
$accent: $blue;
// $border-color: $light-blue;

$large: 1024px;
$medium: 768px;
$small: 550px;
$xsmall: 425px;
