---
layout: default
---


<section>
    <div class="project-left">
        <div class="title-container">
            <h1><span>{{ page.titleLine1 }}</span> <span>{{ page.titleLine2 }}</span></h1>
        </div>
        <div class="project-description">
            {{ page.description | markdownify }}
        </div>
    </div>
    <!-- close left -->
    <div class="project-right">
        {% for image in page.images %}
        <div class="project-image">
            <div class="project-image-container">
                <img src="{{ image.url }}" alt="{{ image.alt }}" title="{{ image.title }}">
            </div>
            {% if image.caption %}
            <p>{{ image.caption }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- close right -->
</section>